<div class="container">
    <div class="row main g-2">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="card shadow-none w-100">
                <div class="card-header bg-light d-flex py-2">
                    <div class="my-auto">
                        <h4 class="card-title">Account Seperator</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-12 col-lg-6">
                            <div class="mb-1">
                                <label for="formFile" class="form-label">Choose file</label>
                                <input class="form-control" type="file" id="fileInput" aria-describedby="fileInput">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-1">
                                <label for="exampleInputEmail1" class="form-label">Devided to</label>
                                <input type="number" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">Number you want have in a file. eg.20</div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-1">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>